body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(114, 167, 247);
}

header {
    background-color: rgb(59, 45, 189);
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: rgb(33, 107, 218);
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(199, 10, 10);
}

section {
    text-align: center;
    padding: 30px;
    
}

.vhr {
     text-align: center;
}

.box {
    border-color: rgb(7, 6, 6);
    border-width: 8px;
    border-style: solid;
    display: inline-block;
    width: 240px;
    height: 360px;
}

footer {
    background-color: #756868;
    color: white;
    text-align: center;
    padding: 20px;
} 

h2 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: rgba(4, 3, 12, 0.938);
}

.zoom {
    width: 240px;
    transition: transform 0.5s ease;
}

.zoom:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.ipl {
    background-color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
}

#csk:hover {
    background-color: #FFF100;
}

#rcb:hover {
    background-color: #CC1213;
}

#mi:hover {
    background-color: #004BA0;
}

#srh:hover {
    background-color: #FF6600;
}

#kkr:hover {
    background-color: #2E0854;
}

#dc:hover {
    background-color: #0116CF;
}

#pk:hover {
    background-color: #ED1B24;
}

#gt:hover {
    background-color: #1B2133;
}

#lsg:hover {
    background-color: #0057E2;
}

#rr:hover {
    background-color: #FC4CFC;
}

p {
    text-align: center;
}

.player {
     display: inline-block;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: space-around;
     padding: 30px;
     text-align: left;
     gap: 20px;
     margin: 76px;
     width: 300px;
     border: 2px solid;
     border-radius: 30px;
}

.ind {
    border-color: rgb(122, 116, 116);
    color: white;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 300px;
    height: 250px;
    margin-bottom: 20px;
    color: #0057E2;
    transition: all 0.ss ease-in-out;
}
.ind:hover {
    transform: scale(0.9) rotate(2deg);
    box-shadow: #0057E2 10px 10px 10px;
}

.player1 {
     display: inline-block;
     flex-direction: column;
     padding: 30px;
     align-items: center;
     text-align: center;
     gap: 20px;
     justify-content: center;
     border: 2px solid;
     margin-left: -40px;
     border-radius: 30px;
}

.ind1 {
    border-color: rgb(122, 116, 116);
    border-width: 3px;
    border-style: solid;
    display: block;
    width: 300px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
    margin-bottom: 20px;
    color: #0057E2;
    transition: transform 0.ss ease-in-out;
}
.ind1:hover {
    transform: scale(0.9) rotate(2deg);
    box-shadow: #0057E2 10px 10px 10px;
}
.player2 {
     display: inline-block;
     flex-direction: column;
     padding: 30px;
     align-items: center;
     text-align: center;
     gap: 20px;
     justify-content: center;
     border: 2px solid;
     margin-left: 30px;
     border-radius: 30px;
}

.ind2 {
    border-color: rgb(122, 116, 116);
    border-width: 3px;
    border-style: solid;
    display: block;
    width: 300px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
    margin-bottom: 20px;
    color: #0057E2;
    transition: all 0.ss ease-in-out;
}

.ind2:hover {
    transform: scale(0.9) rotate(-2deg);
    box-shadow: #0057E2 10px 10px 10px;
}

h4 {
    text-align: center;
    margin-top: 10px;
}

.ranking {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 120px;
}

.ranks {
    width: 250px;
    height: 300px;
    perspective: 1000px;
}

.rank1 {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.ranks:hover .rank1 {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.front {
    background: grey;
}

.front img {
    width: 230px;
    border-radius: 10px;
    height: 230px;
    padding-top: 8px;
}

.back {
    transform: rotateY(180deg);
    background-color: grey;
    font-size: 32px;
}

a {
    text-decoration: none;
    color: #CC1213;
}

a:hover {
    color: #FFF100 ;
}
